<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
{% if color %}
<body bgcolor="{{ color }}"">
{% else %}
<body bgcolor="green">
{% endif %}
    {% if name %}
        <h1>Hello {{ name }}!</h1>
    {% else %}
        <h1>Welcome!</h1>
    {% endif %}
    <h3>This application is an example</h3>
    <br><br>
    <h2>ArgoCD 101 update develop</h2>
</body>
</html>